.ContainerCardDetail{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: -20px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}


.ContainerImgCardDetail{
    display: flex;
    width: 100px;
    height: 100px;
}
.ImgCardDetail{
    width: 100px;
    height: 100px;
}

.ContainerResulmCardDetail{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Item{
    padding: 2px 16px;
}

ion-text{
    padding: 5px;
}

